article {
    position: relative;
    width: 250px;
    transition: all 0.3s ease;
    border: 10px solid;
  }
article img:first-child {
  box-shadow: 0 60px 60px -60x rgba(0, 30, 255, 0.5);
  border-radius: 50%;
  border: 10px solid;
  object-fit: cover;
  width: 100%;
}
  
  article img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    border-radius: 50%;
    border: 10px solid;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: 0.3s ease;
    opacity: 0;
  }
  
  article:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
  }
  
  article::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      transparent 10%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  article:hover::before {
    opacity: 1;
  }
  
  article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
  }

.wrap{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(0 0 0 / .25),rgb(0 0 0 / .25)),url(/img/fondo-ingles.jpg);
  background-size: cover;
  background-position: center;
}

.wrap-texto{
  color: #ff5e00;
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
}

img{
  text-align: center;
}